<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.heytex.minio</string>
    
    <key>UserName</key>
    <string>mac</string>
    
    <key>GroupName</key>
    <string>staff</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/minio</string>
        <string>server</string>
        <string>/Users/mac/heytex/data/minio</string>
        <string>--address</string>
        <string>:5434</string>
        <string>--console-address</string>
        <string>:5437</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/mac/heytex</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/tmp/heytex-minio.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/heytex-minio-error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>MINIO_ROOT_USER</key>
        <string>heytex_admin</string>
        <key>MINIO_ROOT_PASSWORD</key>
        <string>heytex_minio_2024</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
